* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #050002;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}